@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.c video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    z-index: -1;
  }

.c {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.relogio {
    display:flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background-color: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0c353436);
}

.relogio div {
    width: 150px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(5, 5, 5, .9);
    color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    letter-spacing: 4px;
}

.relogio span {
    font-weight: bold;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 13px;
}